
<div class="search align-self-center ">
  <%= form_tag(@movie, method: "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search movie" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>


<section class="movies">
  <div class="movies_section_title">
    <h2>This Week</h2>
  </div>
  <div class="movies_list">
    <%= render @this_week_movies %>
  </div>
</section>

<section class="movies">
  <div class="movies_section_title">
    <h2>All Time</h2>
  </div>
  <div class="movies_list">
    <%= render @movies %>
  </div>
</section>
