<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Year released:</strong>
  <%= @movie.year_released %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Content rating:</strong>
  <%= @movie.content_rating %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Rate', new_movie_review_url(@movie), class: 'btn btn-primary' %> 
<% else %>
  <%= link_to 'Sign in to rate this movie', new_user_session_url, class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Back', movies_path %>
