<section class="header_movies">
  <a href="<%= movies_path %>" class="d-flex">
    <div class="header_logo p-2 align-self-center">
      <%= image_tag asset_path('potato.png'), height: 60 %>
    </div>
    <div class="header_title p-2 align-self-center">
      <h1>Rotten Potatoes</h1>
    </div>
  </a>
</section>

<section class="movie">
  <div class="movie_title d-flex justify-content-center align-items-end">
    <h2 class="p-2 align-items-center"><%= @movie.title %></h2>
    <span class="p-2"><%= @movie.year_released %></span>
  </div>
  
</section>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Year released:</strong>
  <%= @movie.year_released %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Content rating:</strong>
  <%= @movie.content_rating %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
