<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Year released:</strong>
  <%= @movie.year_released %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Content rating:</strong>
  <%= @movie.content_rating %>
</p>



<%= link_to 'Rate', new_movie_review_url(@movie) %> 
<%= link_to 'Back', movies_path %>
