<section class="movie">
  <div class="movie_title d-flex justify-content-center align-items-end">
    <h2 class="p-2 align-items-center"><%= @movie.title %></h2>
    <span class="p-2"><%= @movie.year_released %></span>
  </div>

  <div class="movie_poster">
    <div class="movie_poster_image">

    </div>
  </div>

  <div class="movie_info d-flex justify-content-between">
    <div class="movie_content p-2">
      <p><%= @movie.content_rating %> | <%= @movie.genre %></p>
    </div>
    <div class="movie_avg_potato_score p-2 d-flex">
      <div class="potato_review p-2">
        <div class="potato_review_label">
          <h2>Avg Potato Score</h2>
        </div>
        <div class="potato_review_count">
          <p>Reviews</p>
        </div>
      </div>
      <div class="potato_review_score p-2">
        <h3><%= movie_rating @movie %></h3>
      </div>
    </div>
  </div>

  <div class="movie_description">
    <p><%= @movie.description %></p>
  </div>
</section>

<section class="reviews">
  <div class="reviews_header">
    <h2>Reviews</h2>
  </div>

  <div class="reviews_nav d-flex justify-content-end">
    <% if user_signed_in? %>
      <%= link_to 'Write a Review', new_movie_review_url(@movie), class: 'btn btn-primary p-2' %> 
    <% else %>
      <%= link_to 'Sign in to Review this movie', new_user_session_url, class: 'btn btn-primary p-2' %>
    <% end %>
  </div>
  
  <div class="reviews_list">
    <% @movie.reviews.each do |review| %>
    <div class="review_item d-flex justify-content-between">
      <div class="review_info p-2 align-self-start">
        <div class="review_user">
          <p><%= review.user.username %><p>
        </div>  
        <div class="review_comment">
          <p><%= review.comment %></p>
        </div>
      </div>
      <div class="review_rating p-2 align-self-start">
        <h3><%= review.rating %></h3>
      </div>
    </div>
    <% end %>
  </div>
</section>
