<!DOCTYPE html>
<html>
  <head>
    <title>RottenPotatoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <section class="header_movies">
        <a href="<%= movies_path %>" class="d-flex">
          <div class="header_logo p-2 align-self-center">
            <%= image_tag asset_path('potato.png'), height: 60 %>
          </div>
          <div class="header_title p-2 align-self-center">
            <h1>Rotten Potatoes</h1>
          </div>
        </a>
      </section>
      
      <%= yield %>
    </div>
  </body>
</html>
